# Sentiment analysis of IMDB reviews
We will start by importing the necessary libraries

In [7]:

import tensorflow as tf

In [8]:
import tensorflow.keras as keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing the data files
After importing the necessary libraries now we will read the data files we have two data files here

In [9]:
imdb_reviews=pd.read_csv("/content/imdb_reviews_train_dataset.csv")
test_reviews=pd.read_csv("/content/imdb_reviews_test_dataset.csv")

first data file contains the imdb reviews and their corresponding sentiments which can be either positive or negative, we are going to use this file as our training data.

In [10]:
imdb_reviews.head()

                                             Reviews Sentiment
0  <START this film was just brilliant casting lo...  positive
1  <START big hair big boobs bad music and a gian...  negative
2  <START this has to be one of the worst films o...  negative
3  <START the <UNK> <UNK> at storytelling the tra...  positive
4  <START worst mistake of my life br br i picked...  negative

the second file is also similar to the first file but we are going to use it as the test data.

In [11]:
test_reviews.head()

                                             Reviews Sentiment
0  <START please give this one a miss br br <UNK>...  negative
1  <START this film requires a lot of patience be...  positive
2  <START many animation buffs consider <UNK> <UN...  positive
3  <START i generally love this type of movie how...  negative
4  <START like some other people wrote i'm a die ...  positive

# Preprocessing the data
We can not pass the string data to our model directly, so we need to transform the string data into integer format.For this we can map each distinct word as a distinct integer for eg.{'this':14 , 'the':1}.We already have a file that contains the mapping from words to integers so we are going to load that file.

In [29]:
word_index=pd.read_csv("/content/word_indexes.csv")

The word index file contains mapping from words to integers.

In [13]:
word_index.head()

     Words  Indexes
0  tsukino    52009
1  nunnery    52010
2    sonja    16819
3     vani    63954
4    woods     1411

Next we are going to convert the word_index dataframe into a python dictionary so that we can use it for converting our reviews from string to integer format.

In [14]:
word_index=dict(zip(word_index.Words,word_index.Indexes))

In [15]:
word_index["<PAD>"]=0
word_index["<START"]=1
word_index["<UNK>"]=2
word_index["<UNUSED>"]=3

Now we define a function review_encoder that encodes the reviews into integer format according to the mapping specified by word_index file.

In [16]:
def review_encoder(text):
  arr=[word_index[word] for word in text]
  return arr

We split the reviews from their corresponding sentiments so that we can preprocess the reviews and sentiments separately and then later pass it to our model.

In [17]:
train_data,train_labels=imdb_reviews['Reviews'],imdb_reviews['Sentiment']
test_data, test_labels=test_reviews['Reviews'],test_reviews['Sentiment']

Before transforming the reviews as integers we need to tokenize or split the review on the basis of whitespaces
For eg.the string "The movie was wonderful" becomes ["The" , "movie" , "was" , "wonderful" ].

In [18]:
train_data=train_data.apply(lambda review:review.split())
test_data=test_data.apply(lambda review:review.split())

Since we have tokenized the reviews now we can apply the review_encoder function to each review and transform the reviews into integer format.

In [19]:
train_data=train_data.apply(review_encoder)
test_data=test_data.apply(review_encoder)

After transforming, our reviews are going to look like this.

In [20]:
train_data.head()

0    [1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, ...
1    [1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463,...
2    [1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5...
3    [1, 4, 2, 2, 33, 2804, 4, 2040, 432, 111, 153,...
4    [1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637, 1...
Name: Reviews, dtype: object

We also need to encode the sentiments and we are labeling the positive sentiment as 1 and negative sentiment as 0.

In [21]:
def encode_sentiments(x):
  if x=='positive':
    return 1
  else:
    return 0

train_labels=train_labels.apply(encode_sentiments)
test_labels=test_labels.apply(encode_sentiments)

Before giving the review as an input to the model we need to perform following preprocessing steps:

 


*   The length of each review should be made equal for the model to be working correctly.

*  We have chosen the length of each review to be 500. 
*     If the review is longer than 500 words we are going to cut the extra part of the review.


*       If the review is contains less than 500 words we are going to pad the review with zeros to increase its length to 500.

In [22]:
train_data=keras.preprocessing.sequence.pad_sequences(train_data,value=word_index["<PAD>"],padding='post',maxlen=500)
test_data=keras.preprocessing.sequence.pad_sequences(test_data,value=word_index["<PAD>"],padding='post',maxlen=500)

#Building the model
Our model is a neural network and it consits of the following layers : 

1.   one word embedding layer which creates word embeddings of length 16 from integer encoded review.
2.  second layer is global average pooling layer which is used to prevent overfitting by reducing the number of parameters.

1.   then a dense layer which has 16 hidden units and uses relu as activation function
2.  the final layer is the output layer which uses sigmoid as activation function

In [23]:
model=keras.Sequential([keras.layers.Embedding(10000,16,input_length=500),
                        keras.layers.GlobalAveragePooling1D(),
                        keras.layers.Dense(16,activation='relu'),
                        keras.layers.Dense(1,activation='sigmoid')])

#compiling the model


1.   Adam is used as optimization function for our model.
2.   Binary cross entropy loss function is used as loss function for the model.

1.   Accuracy is used as the metric for evaluating the model.

In [24]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In the next step we are going to train the model on our downloaded IMDB dataset.

In [25]:
#training the model
history=model.fit(train_data,train_labels,epochs=30,batch_size=512,validation_data=(test_data,test_labels))

Epoch 1/30
49/49 [==============================] - 3s 39ms/step - loss: 0.6919 - accuracy: 0.5773 - val_loss: 0.6899 - val_accuracy: 0.6285
Epoch 2/30
49/49 [==============================] - 2s 34ms/step - loss: 0.6851 - accuracy: 0.6754 - val_loss: 0.6794 - val_accuracy: 0.7469
Epoch 3/30
49/49 [==============================] - 2s 36ms/step - loss: 0.6669 - accuracy: 0.7445 - val_loss: 0.6547 - val_accuracy: 0.7604
Epoch 4/30
49/49 [==============================] - 2s 35ms/step - loss: 0.6308 - accuracy: 0.7748 - val_loss: 0.6131 - val_accuracy: 0.7761
Epoch 5/30
49/49 [==============================] - 2s 35ms/step - loss: 0.5787 - accuracy: 0.8034 - val_loss: 0.5610 - val_accuracy: 0.7988
Epoch 6/30
49/49 [==============================] - 2s 36ms/step - loss: 0.5196 - accuracy: 0.8273 - val_loss: 0.5075 - val_accuracy: 0.8230
Epoch 7/30
49/49 [==============================] - 2s 34ms/step - loss: 0.4626 - accuracy: 0.8490 - val_loss: 0.4616 - val_accuracy: 0.8369
Epoch 8/30
49/49 [==============================] - 2s 35ms/step - loss: 0.4141 - accuracy: 0.8635 - val_loss: 0.4211 - val_accuracy: 0.8501
Epoch 9/30
49/49 [==============================] - 2s 37ms/step - loss: 0.3746 - accuracy: 0.8755 - val_loss: 0.3912 - val_accuracy: 0.8579
Epoch 10/30
49/49 [==============================] - 2s 35ms/step - loss: 0.3435 - accuracy: 0.8832 - val_loss: 0.3682 - val_accuracy: 0.8638
Epoch 11/30
49/49 [==============================] - 2s 34ms/step - loss: 0.3187 - accuracy: 0.8912 - val_loss: 0.3513 - val_accuracy: 0.8670
Epoch 12/30
49/49 [==============================] - 2s 34ms/step - loss: 0.2982 - accuracy: 0.8978 - val_loss: 0.3377 - val_accuracy: 0.8703
Epoch 13/30
49/49 [==============================] - 2s 35ms/step - loss: 0.2816 - accuracy: 0.9012 - val_loss: 0.3262 - val_accuracy: 0.8739
Epoch 14/30
49/49 [==============================] - 2s 35ms/step - loss: 0.2666 - accuracy: 0.9075 - val_loss: 0.3172 - val_accuracy: 0.8769
Epoch 15/30
49/49 [==============================] - 2s 37ms/step - loss: 0.2543 - accuracy: 0.9114 - val_loss: 0.3107 - val_accuracy: 0.8774
Epoch 16/30
49/49 [==============================] - 2s 36ms/step - loss: 0.2425 - accuracy: 0.9158 - val_loss: 0.3050 - val_accuracy: 0.8795
Epoch 17/30
49/49 [==============================] - 2s 35ms/step - loss: 0.2325 - accuracy: 0.9189 - val_loss: 0.3029 - val_accuracy: 0.8790
Epoch 18/30
49/49 [==============================] - 2s 36ms/step - loss: 0.2238 - accuracy: 0.9212 - val_loss: 0.2959 - val_accuracy: 0.8829
Epoch 19/30
49/49 [==============================] - 2s 37ms/step - loss: 0.2148 - accuracy: 0.9256 - val_loss: 0.2929 - val_accuracy: 0.8837
Epoch 20/30
49/49 [==============================] - 2s 37ms/step - loss: 0.2075 - accuracy: 0.9281 - val_loss: 0.2911 - val_accuracy: 0.8841
Epoch 21/30
49/49 [==============================] - 2s 37ms/step - loss: 0.2000 - accuracy: 0.9310 - val_loss: 0.2892 - val_accuracy: 0.8848
Epoch 22/30
49/49 [==============================] - 2s 36ms/step - loss: 0.1932 - accuracy: 0.9334 - val_loss: 0.2873 - val_accuracy: 0.8858
Epoch 23/30
49/49 [==============================] - 2s 36ms/step - loss: 0.1871 - accuracy: 0.9354 - val_loss: 0.2858 - val_accuracy: 0.8855
Epoch 24/30
49/49 [==============================] - 2s 36ms/step - loss: 0.1808 - accuracy: 0.9388 - val_loss: 0.2860 - val_accuracy: 0.8860
Epoch 25/30
49/49 [==============================] - 2s 35ms/step - loss: 0.1755 - accuracy: 0.9412 - val_loss: 0.2856 - val_accuracy: 0.8860
Epoch 26/30
49/49 [==============================] - 2s 37ms/step - loss: 0.1704 - accuracy: 0.9427 - val_loss: 0.2853 - val_accuracy: 0.8865
Epoch 27/30
49/49 [==============================] - 2s 37ms/step - loss: 0.1654 - accuracy: 0.9447 - val_loss: 0.2865 - val_accuracy: 0.8857
Epoch 28/30
49/49 [==============================] - 2s 34ms/step - loss: 0.1608 - accuracy: 0.9469 - val_loss: 0.2882 - val_accuracy: 0.8850
Epoch 29/30
49/49 [==============================] - 2s 36ms/step - loss: 0.1564 - accuracy: 0.9479 - val_loss: 0.2942 - val_accuracy: 0.8836
Epoch 30/30
49/49 [==============================] - 2s 35ms/step - loss: 0.1523 - accuracy: 0.9498 - val_loss: 0.2891 - val_accuracy: 0.8857

Now we will be evaluating the loss and accuracy of our model on testing data.

In [26]:
loss,accuracy=model.evaluate(test_data,test_labels)

782/782 [==============================] - 2s 3ms/step - loss: 0.2891 - accuracy: 0.8857

As we can see our model is giving an accuracy of 88.58% on the testing data.

Now we are going to take a random review from our test dataset and check wether our model produces correct output or not

In [27]:
index=np.random.randint(1,1000)
user_review=test_reviews.loc[index]
print(user_review)

Reviews      <START terrible absolutely terrible long confu...
Sentiment                                             negative
Name: 600, dtype: object

As we can see the sentiment for the above review is negative, now we are going to take the integer format of this particular review which we already have in our preprocessed test data and then give it as an input to our model to check the prediction of our model.

In [30]:
user_review=test_data[index]
user_review=np.array([user_review])
if (model.predict(user_review)>0.5).astype("int32"):
  print("positive sentiment :)")
else:
  print("negative sentiment :(")

negative sentiment :(

As we can see our model is now able to predict the sentiment of the review.